<div class="form-row mb-3">
  <label class="form-label" for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{user.name}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="email">email</label>
  <input class="form-control" type="email" name="email" id="email" placeholder="Enter email" value="{{user.email}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-check-label" for="isAdmin">Admin rights</label>
  <input class="form-check-input" type="checkbox" name="isAdmin" id="isAdmin" {{#if user.isAdmin}} checked {{/if}} >
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>